body, html {
  margin: 0px;
}

body {
  background-color: #000000;
  color: #fff;
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin: 50px 0px 0px 0px;
}

.mainContainer, .secondContainer, .thirdContainer {
  margin: 50px 10vmin 10vmin 10vmin;
}

.imageTop > img {
  width: 100vh;
}

.imageTop{
  display: flex;
  justify-content: center;
}

h1, h2, p {
  margin: 3vmin 2vmin 3vmin 2vmin;
}

.menu {
    background-color: #e5e5e5;
    color: #000;
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu > div:hover {
  background-image: linear-gradient(#e5e5e5, #fff);
}

.header {
  padding-left: 5%;
}

.headerCont {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

.sectionHeader {
  padding-left: 15%;
}

.bodyContent > p {
  text-align: left;
  line-height: 3rem;
  padding: 0px 20% 0px 20%;
}

.footer {
  color: #a6a6a6;
}

.icon {
  position:fixed;
  background-color: #fff;
  color: #000;
  width: 70px;
  height: 70px;
  bottom: 45px;
  right: 45px;
  text-align: center;
  line-height: 70px;
}

.videoCollection > iframe {
  width: 33%;
}

.singleVid {
  display: flex;
  justify-content: center;
}

/*colors to use:
white: #fff
black: #000
dark gray: #4c4c4c
dark dark gray: #1d1d1d
light gray: #e5e5e5
*/
